$color-light: #fff;
$color-dark: #321064;

$font-text: 'Lobster Two', sans-serif;
$paragraph: 'Libre Franklin', sans-serif;


.lobster-two-regular {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lobster-two-bold {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .libre-franklin {
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

$radius: 5px;
$base-size: 12px;
