@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,200&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Lobster+Two:wght@400;700&display=swap');


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  text-align: center
}

h1 {
  font-size: 68px;
}

h2 {
  font-size: 42px;
  padding: 100px;
}

p {
  font-family: $paragraph; // Libre Franklin z settings
  font-size: 14px;
  line-height: 1.6;
  color: $color-light;
  font-weight: 200;

}

 h6 {
  font-family: $paragraph; // Libre Franklin z settings
  font-size: 14px;
  line-height: 1.6;
  color: $color-light;
  font-weight: 700

}

h5 {
  color: #680EEA;
  font-size: 30px;
  padding:40px
}

h4 {
  font-size: 30px;
  padding: 40px;
}



