.basic {
    background-color:  #680EEA;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw; 
    text-align: center;    
}

.content {
    padding:100px;
}

.padding {
    padding: 15px;
    text-align: center;
}



