.basic {
    background-color:  #680EEA;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw; 
    text-align: center;    
}

.iconsWrapper{
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-bottom:15px;
}

.iconsWrapper a {
    color: inherit;           // używa koloru z rodzica (biały w Twoim przypadku)
    text-decoration: none;    // usuwa podkreślenie
  }

.icon{
    border-radius: 50%;
}

.padding {
  display: flex;
  flex-direction: column;  // ułożenie elementów jeden pod drugim
  align-items: center;     // wyśrodkowanie w poziomie
  gap: 15px;
}



