.column {
  flex: 1 1 calc(33.333% - 34px);
  box-sizing: border-box;
  margin-bottom: 1rem;
  height: max-content;
  text-align: left;
}

.cube {
  border: 5px solid #680EEA; 
  border-radius: 30px;
  background-color: rgba(104, 14, 234, 0.2); 
  min-height: 100px;
  margin: 0 auto; 
  padding: 30px;


  &:hover {
      background-color: #680EEA;
  }
}

h6 {
  padding-bottom: 30px;
  text-align: left;
}

p {
  padding: 0;
  margin: 0;
  text-align: left;
}

@media (max-width: 767px) {
  .column {
    max-width: 100%;
    margin: 20px;
    padding: 0;
  }
  .cube {
    max-width: 100%;
    margin:0;
    border: 3px solid #680EEA; 
  }
}