.footer{
    max-width: 100%;
    margin:0;
    background-color: #680EEA;
}

.text {
    display: flex;
    justify-content: center; // horyzontalnie
    align-items: center; // wertykalnie
    min-height: 100px;
    margin: 0 auto; 
    font-size: 10px;

}